* text=auto !eol
config/init_text.txt -text
config/installer.properties -text
config/logo.png -text
/pom.xml -text
src/main/java/mc/now/ui/Installer.java -text
src/main/java/mc/now/util/CollisionCheck.java -text
src/main/java/mc/now/util/InstallScript.java -text
src/main/java/mc/now/util/InstallerConfig.java -text
src/main/resources/log4j.xml -text
